admin/helpers/xml_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="questions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="q_name"/>
              <xs:element type="xs:string" name="q_content"/>
              <xs:element type="xs:string" name="q_type"/>
              <xs:element type="xs:int" name="q_mark"/>
              <xs:element type="xs:string" name="q_hint"/>
              <xs:element type="xs:string" name="q_correct"/>
              <xs:element type="xs:string" name="q_wrong"/>
              <xs:element name="answers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="q_ans" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="q_ans_correct" use="optional"/>
                            <xs:attribute type="xs:string" name="q_ans_mark" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>